<div class='auth-container'>
  <form action='/session' method='POST'>

    <input
      autofocus
      type='text'
      name='user[username]'
      value='<%= @user.username %>'
      placeholder='Username'
      id='user_username'>

    <input
      type='password'
      name='user[password]'
      placeholder='Password'
      id='user_password'>

    <input type='submit' value='Sign In'>
  </form>

  <div class='auth-nav'>
    <a href='/users/new'>Don't have an account? Sign up here.</a>
  </div>
</div>
