<h1>Tasks Index</h1>
<h2>Hello, <%= current_user %></h2>

<ul>
  <% @tasks.each do |task| %>
    <li><a href="/tasks/<%= task.id %>"><%= task.content %></a></li>
  <% end %>
</ul>

<div><a href='/tasks/new'>Create New Task</a></div>
<form action='/session' method='POST'>
  <input type='hidden' name='_method' value='DELETE'>
  <input type='submit' value='Sign Out'>
</form>
