<h1>New Task Form</h1>

<form action='/tasks' method='POST'>
  <label for='task_content'>Content</label>
  <input type='text' name='task[content]' id='task_content'>

  <input type='submit' value='Create Task!'>
</form>

<div><a href='/tasks'>Back to Tasks Index</a></div>
