/* reset */

body, div, span, p, h1, h2, h3, h4, h5, h6, ul, li, button, strong, em, i,
img, article, header, footer, nav, small, form, label, input, textarea, time {
  margin: 0;
  border: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

input:focus {
  outline: 0;
  outline-offset: 0;
}

ul, li {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.group:after   {
  display: block;
  content: '';
  clear: both;
}

/* styles */

/* common */

input[type='image'], input[type='submit'] {
  cursor: pointer;
}

html {
  background: url(/public/crossword.png);
  background-repeat: repeat;
  font-size: 24px;
  color: #222;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}

input[type='text'], input[type='submit'], input[type='password'] {
  width: 100%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box
}

h1 {
  padding: 5px 0;
  font-size: 76px;
  font-family: 'Poiret One', cursive;
  color: #FF885A;
  text-align: center;
}

h1 a {
  font: inherit;
  color: inherit;
  text-decoration: inherit;
}

/* auth */

.auth-container {
  margin: 10px auto;
  padding: 25px;
  background: #fff;
  width: 400px;
  box-shadow: 0px 5px 10px 2px #bbb;
}

.auth-container input[type='text'],
.auth-container input[type='password'] {
  outline: 1px solid #7FA4FF;
  padding: 10px;
  margin-bottom: 24px;
}

.auth-container input[type='submit'] {
  margin-bottom: 20px;
  background: #FF885A;
  padding: 10px;
  text-align: center;
  color: #fff;
}

.auth-nav {
  text-align: center;
  font-size: 14px;
}

/* tasks */

.notepad {
  background: #fff;
  width: 600px;
  margin: 10px auto;
  box-shadow: 0px 5px 10px 2px #bbb;
}


.task-form-container {
  padding: 10px 15px;
  line-height: 47px;
  border-bottom: 2px solid #eee;
}

#task-content {
  outline: none;
}

#task-content::-webkit-input-placeholder {
   color: #eee;
   font-style: italic;
}

#task-content:-moz-placeholder { /* Firefox 18- */
   color: #eee;
   font-style: italic;
}

#task-content::-moz-placeholder {  /* Firefox 19+ */
   color: #eee;
   font-style: italic;
}

#task-content:-ms-input-placeholder {
   color: #eee;
   font-style: italic;
}

.tasks-list > li {
  border-bottom: 1px solid #eee;
}

.task-complete-toggle {
  float: left;
  width: 50px;
  text-align: center;
}

.task-complete-toggle > input[type='image'] {
  position: relative;
  top: 8px;
}

.task-delete {
  float: right;
}

.task-container {
  float: left;
  width: 510px;
  padding: 10px 0;
  overflow-wrap: break-word;
}

.task-complete {
  text-decoration: line-through;
  color: #ddd;
}

.task-delete > input[type='submit'] {
  display: none;
  margin: 10px;
  color: #eea0a0;
}

.task-delete > input[type='submit']:hover {
  color: #ee0000;
}

li:hover .task-delete > input[type='submit'] {
  display: block;
}

.tasks-footer {
  position: relative;
  font-size: 14px;
}

.tasks-progress-bar {
  position: absolute;
  height: 100%;
  background: #C5EADB;
}

.tasks-remaining-counter {
  padding: 10px;
  position: relative;
  z-index: 1;
  float: left;
}

.tasks-delete-completed-button {
  padding: 10px;
  position: relative;
  z-index: 1;
  float: right;
}

.tasks-delete-completed-button > input[type='submit'] {
  color: #999;
}

.tasks-delete-completed-button > input[type='submit']:hover {
  color: #000;
}

.index-footer {
  margin: 18px;
  font-size: 12px;
  text-align: center;
}
