<div class='auth-container'>
  <form action='/users' method='POST'>

    <input
      autofocus
      type='text'
      name='user[username]'
      placeholder='Username'
      id='user_username'>

    <input
      type='password'
      name='user[password]'
      placeholder='Password'
      id='user_password'>

    <input type='submit' value='Sign Up'>
  </form>

  <div class='auth-nav'>
    <a href='/session/new'>Have an account? Click here to log in.</a>
  </div>
</div>
